ccc
<h2>Sign up</h2>
<form (ngSubmit)="register()" [formGroup]="userForm">
   <div>
      <label>Username</label><input formControlName="username">
      <div *ngIf="userForm.get('username')?.hasError('required')">Username is required</div>
   </div>
   <div>
      <label>Password</label><input type="password" formControlName="password">
      <div *ngIf="userForm.get('username')?.hasError('minlength')">Username should be 3 characters </div>
   </div>


   <button type="submit" [disabled]="userForm.invalid">Register</button>
</form>

